[2021-05-27 21:43] Gregory-Widmer opened #326 "[Suggestion] Change log level on reflections scan"
I'm using this nice library in a project where every line of log is very important.

However, when we call the Reflections.java constructor, we get a info log level line like these one :
[code]

Having these in debug log level would be a good idea, as we don't need to log performance on info level.

Could this please be implemented ?

Thank you for reading

[2021-05-28 07:39] jimka2001 commented on #324
I've done some additional experimentation.   Here are several pieces of information I hope the developers find useful useful.

- Calling the constructor with `""` as argument gives inconsistent behavior. `org.reflections.Reflections("")`.    It seems to be *accepted* as a valid argument.

- Using reflections version 0.9.12 I very often get the following error, reverting to 0.9.11 avoids the error.

[2021-05-31 11:06] Peter-Crawley opened #327 "Issues with getMethodsAnnotatedWith()"
If you create reflections with `Reflections reflections = new Reflections("prefix here")` then you cant use `reflections.getMethodsAnnotatedWith()` as it gives a `ReflectionsException`.
[code]

Currently my solution is as follows:
[code]

Is this intended behavior or is this a bug?

[2021-06-01 09:42] InYourHead commented on #316
In Java you can make:

`Reflections reflections = new Reflections("com.your.package");
    Set<Class<? extends IYourInterface>> classes = reflections.getSubTypesOf(IYourInterface.class);`

    You should be able to make it in similar way using kotlin.

[2021-06-02 20:32] ljacqu commented on #327
Yes, it's intended. Use `new Reflections("prefix here", new MethodAnnotationsScanner())` for short

[2021-06-09 21:48] Peter-Crawley commented on #327
Thanks. The documentation shown in README.md does not reflect this, maybe
update it?

On Wed, 2 Jun 2021, 21:33 ljacqu, ***@***.***> wrote:

[2021-06-21 09:56] kuFEAR commented on #318
Hi, you can add this classpath to unit tests via gradle
[code]

[2021-06-23 14:12] idkw commented on #279
Can a 0.9.13 patch version be released to fix this issue ?
Do you need help to make this happen ? What can we do to help ?

[2021-06-26 17:35] amit-github-personal commented on #326
I would love to raise a PR for this.

[2021-07-06 09:35] priyadharshini16 commented on #252
@darewreck54 Were you able to fix this issue?

[2021-07-12 09:53] stevenxxiu commented on #266
The above didn't work for me, but this is how I managed to turn it off in code:

[code]

[2021-07-26 10:02] hoorf opened #328 "scan bug occur in version 0.9.12 but not in 0.9.11"
springboot multi module project ,package a fat jar, init scan like this:
[code]

in version 0.9.12 package to jar run ,occur exception :
[code]

but without packaging to jar,run in IDEA by Main class, it run normal

when switch to version 0.9.11 ,it both run normal (jar & normal main Class run )

[2021-07-27 01:05] #328 closed

[2021-07-27 01:06] hoorf commented on #328
just spring version bug

[2021-07-30 15:39] astubbs commented on #317
Duplicates https://github.com/ronmamo/reflections/issues/126

[2021-07-30 15:40] astubbs commented on #296
Duplicates https://github.com/ronmamo/reflections/issues/126

[2021-07-30 15:40] astubbs commented on #167
Relates to / duplicates https://github.com/ronmamo/reflections/issues/126

[2021-08-02 18:05] astubbs commented on #273
If you look at Romano's activity levels, it' seems quite odd https://github.com/ronmamo
Hope they're ok...

[2021-08-02 18:16] astubbs commented on #273
Does anyone know how to contact them? Can't see anything on their profile page.

[2021-08-04 03:07] veselov commented on #297
Bump. Is it possible to make a release with this fix?

[2021-08-09 14:16] soc opened #329 "`reflections.getTypesAnnotatedWith` crashes for annotated module-info.java classes"
[code]

... with this `module-info.java` ...

[code]
... crashes with:

[code]

[2021-08-10 13:20] JJBRT commented on #329
Have you tried with [this](https://github.com/burningwave/core/wiki/Finding-all-classes-for-module-name-(Java-9-and-later))?

[2021-08-10 18:23] soc commented on #329
That's a completely different piece of software doing something completely different.

[2021-08-12 14:17] JJBRT commented on #329
The example I posted searches for all classes by module name in the classpath so you can replace the ClassCriteria with
`ClassCriteria.create().allThoseThatMatch((currentScannedClass) ->
                        currentScannedClass.getModule().getAnnotation(Deprecated.class) != null
                    )`

[2021-08-25 17:48] cmrockwell opened #330 "No Key for org.reflection"
Hi

my project uses [pgpverify-maven-plugin](https://www.simplify4u.org/pgpverify-maven-plugin/index.html) to verify the signatures of the dependencies such as org.reflections:reflections:jar:0.9.12

recently the CI started to fail because the plugin cannot locate the key used to sign org.reflections:reflections:jar:0.9.12 on servers mentioned in the logs below.

[WARNING] {https://keyserver.ubunt

[2021-08-31 15:06] Kaktushose commented on #315
Okay, so for anyone also having this issue, I've found a solution.

[code]

[2021-09-22 01:26] ronmamo commented on #330
This might be resolved now, can you please recheck Cris? @cmrockwell

[2021-09-25 10:36] davidburstrom opened #336 "0.10-RC1: org.slf4j:slf4j-api missing from runtime classpath"
When bumping from 0.9.12 to 0.10-RC1, unit tests in my project starts failing due to missing `org.slf4j.LoggerFactory`. It would appear that `org:slf4j:slf4j-api` is not exposed in the runtime dependencies for the reflections library, though it is used internally.

[code]

It is of course possible to add `org:slf4j:slf4j-api` to the test runtime classpath in my consuming project as a workaround, b

[2021-09-25 10:55] davidburstrom opened #337 "0.10-RC1: Incorrect example for TypesAnnotated.with()"
In the example in the [readme](https://github.com/ronmamo/reflections/blob/ref-0.10/README.md?plain=1#L38) it states that

[code]

In 0.10-RC1, it results in a `Set<String>`, as `with()` is backed by `default QueryFunction<Store, String> with(Class<?>... keys) { return of(keys); }`. Not only that, the collection is empty contrary to what was returned in 0.9.12.

[2021-09-25 15:44] ronmamo commented on #337
thanks @davidburstrom , I've fixed the readme example.
as for the empty result - shouldn't happen unless the scanner was configured, as tested in ReflectionsQueryTest. can you check the configuration or share how Reflections was instantiated?

[2021-09-25 15:51] ronmamo commented on #336
thanks @davidburstrom , a fix pushed removing optional from slf4j-api dependency. hth, lmk

[2021-09-25 16:07] ronmamo commented on #327
thanks @Peter-Crawley , added better javadoc and readme clarifications in the next [0.10 version branch](https://github.com/ronmamo/reflections/pull/335) - you mind taking a look?
as well, if you wish to take a closer look at the readme, I'd appreciate any comments - reach out on ronmamo at gmail

[2021-09-25 16:14] ronmamo commented on #323
[next version](https://github.com/ronmamo/reflections/pull/335) dual licensed with apache 2.
hope the lawyers will be satisfied :( let us not forget, we're developers not lawyers nor robots, there's no place for blind compliance imho

[2021-09-25 16:14] #323 closed

[2021-09-25 16:25] ronmamo opened #338 "refactor vfs: cleanup & simplify code, better tests, remove old stuff"
refactor org.reflections.vfs package
- cleanup & simplify code
- better tests
- remove old stuff

measure: reduce total lines of code, number of classes, code duplications

rebased with 0.10

[2021-09-25 16:34] ronmamo commented on #327
also @ljacqu thanks for your continuous contributions 🙏 feel free to reach out, your comments are valuable

[2021-09-25 16:36] #318 closed

[2021-09-25 16:37] #316 closed

[2021-09-25 16:39] ronmamo commented on #301
I'm also not sure what the problem is according to the description.... I just got the SpringBoot and zip close extension, and was too lazy to translate.

[2021-09-25 16:39] #301 closed

[2021-09-25 17:01] ronmamo commented on #324
thanks @jimka2001

instantiating with `""` is discouraged and might result in different urls resolved from the classpath. using `ConfigurationBuilder` explicitly is preferred.

scanner was not configured exception - this is known issue on 0.9.12, a simple workaround is to check if the store contains scanned values for the scanner before query. next version fixes this.

also matrix testing are plan

[2021-09-25 17:01] #324 closed

[2021-09-25 17:09] ronmamo commented on #277
apologize for this annoyance.

scanner was not configured exception - this is a known issue in 0.9.12, a simple workaround is to check if the `getStore()` contains index for the scanner before querying. [next version 0.10](https://github.com/ronmamo/reflections/pull/335) fixes this.

[2021-09-25 17:14] ronmamo commented on #273
apologize for this inconvenience !

scanner was not configured exception - this is a known issue in 0.9.12, a simple workaround is to check if the `getStore()` contains index for the scanner before querying. [next version 0.10](https://github.com/ronmamo/reflections/pull/335) fixes this.

[2021-09-25 17:27] ronmamo commented on #286
thanks @MairwunNx , it is preferred to use `ConfigurationBuilder` for instantiating Reflections, and get the right urls.

you've mentioned above *Reflections used with minecraft forge (mod loader for Minecraft game)* - damn that sounds interesting... maybe you can drop a line or two 'bout it?

[2021-09-25 17:27] #286 closed

[2021-09-25 17:30] sgaurav37533 commented on #338
I can work on this please assign me this issue.

[2021-09-25 17:39] ronmamo opened #339 "android support"
support for android environments is highly desirable
- to be able to instantiate Reflections within android rt
- to be able to query the Store
- easy integration with gradle (+ instructions)

some options: 1) with a different metadata scanner than javassist that supports dalvik, or 2) as a solution for generating scanned metadata on build time and collecting on runtime with `Reflections.collect()`

[2021-09-25 17:48] ronmamo commented on #338
thanks @sgaurav37533 bhai 🙏🏽 I'd rather not assign so that others can work on it if want to

but I can suggest one/some of the following: we can discuss it on mail/zoom for better ctx; you can sketch something and raise pr; or send it over branch/patch for review/discussion; or any other option you wish. feel free to reach out ronmamo at gmail

[2021-09-25 17:53] ronmamo commented on #315
thanks @l4wei and @Kaktushose , it is preferred to use `ConfigurationBuilder` so that urls are correctly resolved from classpath. I've updated the docs and will update further.

[2021-09-25 17:53] #315 closed

[2021-09-25 17:58] ronmamo commented on #313
thanks @DavidShahbazyan , saw your pr and I'd like to merge it. if you wish to discuss or some guidance, feel free to reach out ronmamo at gmail

[2021-09-25 17:59] sgaurav37533 commented on #339
I would like to work on this issue please assign me this issue.

[2021-09-25 21:06] davidburstrom commented on #337
I'm a little surprised though, I'd have thought the README actually was more correct than the code.

What I used in 0.9.12 was

[code]

which worked great.

In 0.10-RC1, I had to adapt the return type to

[code]

which stopped returning results.

Further changing of that into

[code]

brought me even further from the target, and didn't return anything either.

[2021-09-26 01:58] ronmamo commented on #337
will change the results from Collection back to Set.

empty result - suspected changes are in ConfigurationBuilder or FilterBuilder, can you check the differences in the effective `reflections.getConfiguration()`?

preferably use the explicit constructor to avoid ambiguity (will improve javadoc/readme), such as
[code]

either of the above will provide workable input, thanks for the coop!

[2021-09-26 04:08] ronmamo commented on #304
thanks @stadler , adding this to next release

[2021-09-26 09:54] jimka2001 commented on #324
Sorry I don't know anything about matrix testing.   is that something I can do from Scala?

[2021-09-26 11:56] davidburstrom commented on #337
I personally have nothing against using `Collection` over `Set` in this case, but I suppose it does clarify that there will be no duplicates.

With 0.9.12 and

[code]

the configuration looks like

<img width="543" alt="0 9 12-configuration" src="https://user-images.githubusercontent.com/1671931/134806611-a5e14675-3828-47f0-a99a-fe9da5e206e3.png">

and with 0.10-RC1 and

[code]

the configuration

[2021-09-26 12:34] ronmamo commented on #337
thanks @davidburstrom for your valuable feedback and time! these will be addressed for the next release.

[2021-09-28 11:29] ronmamo commented on #297
apologize for this inconvenience !

scanner was not configured exception - as @dota17 mentioned, this is a known issue in 0.9.12, a simple workaround is to check if the getStore() contains index for the scanner before querying. [next version 0.10](https://github.com/ronmamo/reflections/pull/335) fixes this.

[2021-09-29 00:54] ronmamo opened #340 "make reflections-maven work again"
make [reflections-maven](https://github.com/ronmamo/reflections-maven) plugin work again

[2021-10-02 18:11] davidburstrom commented on #337
Trying out RC2, there are no changes required to use the Reflections API, but still, when querying for all types annotated with X, there are zero results where there used to be non-zero with 0.9.12.

[2021-10-04 06:42] ronmamo commented on #337
thanks @davidburstrom , but I couldn't find a way to reproduce it. it might be some javassist issue (downgrade can provide more input). you can send me the jar on email and i'll take a closer look.

[2021-10-04 14:36] ronmamo commented on #297
fixed on 0.10

[2021-10-04 14:36] #297 closed

[2021-10-04 14:37] ronmamo commented on #281
fixed on 0.10

[2021-10-04 14:37] #281 closed

[2021-10-04 14:37] ronmamo commented on #336
fixed on 0.10

[2021-10-04 14:38] ronmamo commented on #277
fixed on 0.10

[2021-10-04 14:38] #277 closed

[2021-10-04 14:39] ronmamo commented on #273
fixed on 0.10

[2021-10-04 14:39] #273 closed

[2021-10-04 15:55] davidburstrom commented on #337
I'll try and reproduce it in a self-enclosed project, hang on.

[2021-10-04 16:16] davidburstrom commented on #337
[repro-337.zip](https://github.com/ronmamo/reflections/files/7279633/repro-337.zip)

There you go, fails on my machine at least. Just run `gradle build`. I didn't provide a Gradle wrapper script.

[2021-10-05 02:36] ronmamo commented on #337
ok got it. this is now marked as a known issue and will be fixed on next release, looks like it's going to be earlier than I thought...
as a workaround for 0.10, mark your annotation with `@Retention(RUNTIME)`

[2021-10-05 02:41] ronmamo commented on #327
fixed in 0.10

[2021-10-05 02:41] #327 closed

[2021-10-05 07:20] davidburstrom commented on #337
Great, thanks!

[2021-10-07 04:07] ronmamo opened #342 "maven central auto release"
when version increase on master
  -> `mvn clean install -Prelease -Dgpg.keyname=<> -Dgpg.passphrase=<>`
  -> upload & release to oss.sonatype.org

[2021-10-07 10:12] bostandyksoft opened #348 "Library working incorrectly when class tree is complex"
There is tree. I need to find all classes, that implements Interface. But part of classes extends another class, that implements searched interface.

[code]

[code]

So, if i start search subclasses of Interface, library returns only ClassC

There is code with class tree to reproduce this bug

https://www.dropbox.com/s/kcqt6amycuqiakr/reflections.zip?dl=0

In case, when ClassC will extends BaseCla

[2021-10-08 14:26] ncoquelet opened #351 "[Regression 0.10] MethodAnnotationsScanner no longer find annotated method"
Hi
After updated to 0.10 or 0.10.1, Reflections library doesn't works correctly with .getMethodsAnnotatedWith() deprecated method.
Works well with the version 0.9.11

Bellow the code to reproduce it

Thanks a lot for all your works
Cheers

`package my.test;

import java.lang.reflect.Method;

import org.reflections.Reflections;
import org.reflections.scanners.MethodAnnotationsScanner;
import org.re

[2021-10-08 14:42] ronmamo commented on #337
fixed in 0.10.1

[2021-10-08 14:42] #337 closed

[2021-10-10 21:40] davidburstrom commented on #337
I can confirm the fix works as intended in 0.10.1 :)

[2021-10-13 16:16] austinarbor commented on #279
Does this issue still persist in latest releases?

[2021-10-14 04:20] cushon opened #355 "ReflectionUtils.getMethods no longer returns non-public methods"
Prior to 1f05c178131b252b787e0c89f43feab3b370295b, `ReflectionUtils.getMethods` is implemented using `Class.getDeclaredMethods()` for non-interface types, which returns non-`public` methods.

After that changes it uses `Class.getMethods()`, which only returns public methods.

Was this a deliberate change? `ReflectionUtils` still uses `getDeclaredConstructors` and `getDeclaredFields`.

Before:

htt

[2021-10-14 05:31] ronmamo commented on #355
thanks @cushon , you're right, it should result in all methods.
if you wish to raise a pr with this small fix, please do, otherwise I'll take care of it on the next release.

[2021-10-14 05:41] ronmamo commented on #351
thanks @ncoquelet , that should work without changes according to the test. will take a look and fix it on next release.

btw, the newer syntax for your case would be
[code]
I guess the same result remains

[2021-10-15 02:36] cushon opened #357 "ConfigurationBuilder.setParallel: return ConfigurationBuilder for chaining"
Consider making `ConfigurationBuilder.setParallel` return an instance of the builder, similar to other `set` methods in the class, for easier method chaining.

Currently it returns `void`, which prevents writing e.g.:

[code]

https://github.com/ronmamo/reflections/blob/e9ed4e1e217c43906173ad2974a966a2e46b61a5/src/main/java/org/reflections/util/ConfigurationBuilder.java#L202-L204

[2021-10-15 08:05] laszlo-torok opened #358 "Subtype not found if super is in a jar (Reflections 0.10)"
I have a class hierarchy like so: (=> means "is a subclass of")
C => B => A

B is in a jar on the classpath and classloader is passed to the Relections constructor:
Reflections reflections = new Reflections(new ConfigurationBuilder()
                                                .forPackage(packageName, classLoader)
                                                .setExpandSuperTypes(true)

[2021-10-15 18:52] JJBRT commented on #358
Have you tryed with [this](https://github.com/burningwave/core/wiki/Finding-all-classes-that-extend-a-base-class)?

[2021-10-17 23:58] ronmamo commented on #329
hey @JJBRT , fuck off!

[2021-10-25 14:41] #348 closed, assigned to nobody

[2021-10-26 16:37] HenningL opened #361 "Exception thrown when passing classloader as param"
When passing classloader exception is thrown:

new Reflections(classLoader,..

Looks like the filtering of params is wrong.
![image](https://user-images.githubusercontent.com/2301825/138922452-b39ed592-86a8-49d3-9fa1-127c27291f71.png)

Classloader remains in params list and is unhandled -> else throw new ReflectionsException("could not use param '" + param + "'");

[2021-10-27 13:10] pgrt opened #362 "Test JdkTests.checkSubTypes fails in version 0.10.2"
Hello,

I just got the version 0.10.2 as I am working on the Debian packaging of reflections, and I stumbled upon an error in JdkTests.checkSubTypes (log enclosed).

I am using Debian and running openjdk11.

[org.reflections.JdkTests.txt](https://github.com/ronmamo/reflections/files/7426345/org.reflections.JdkTests.txt)

Thanks for your attention,

Pierre

[2021-10-31 20:17] hjohn opened #365 "Migrating from 0.9.10 to 0.10.2, forPackage does not honor full package name as filter?"
If I do this:

    ConfigurationBuilder builder = new ConfigurationBuilder()
      .forPackages(packageNamePrefixes)
      .setScanners(
        Scanners.TypesAnnotated,
        Scanners.FieldsAnnotated,
        Scanners.MethodsAnnotated
      );

Internally, it seems to convert the package names to URL's, and in the process loses crucial information about the package I'm interested in scanning.

[2021-11-01 08:21] ljz0721cx opened #367 "out jar can not parse self define field annotation"
[code]

[code]
[code]

[2021-11-02 03:36] #367 closed

[2021-11-02 03:42] ronmamo commented on #365
yes, `forPackage` is just a shortcut to `addUrls(ClasspathHelper.forPackage())` but without the input filter.
would you suggest to change that? also raise in #304

[2021-11-02 07:36] hjohn commented on #365
It is just a bit confusing, perhaps document this explicitely that it is only using the package name to discover the URL/JAR involved, not actually filtering by it.  A name like `discoverURLsForPackages` might have been clearer.

I've solved it now by adding an explicit filter:

    Pattern filterPattern = Pattern.compile(
      Arrays.stream(packageNamePrefixes)
        .map(pnp -> pnp.replace(".

[2021-11-02 07:38] hjohn commented on #365
Thank you thought for releasing 0.10.2 -- I finally managed to upgrade from 0.9.10 and get rid of the guava dependency :)

[2021-11-05 06:32] ronmamo commented on #365
thanks @hjohn , I guess you're right about forPackage.
btw, nice library! [hs.ddif](https://github.com/hjohn/hs.ddif)

[code]

[2021-11-05 10:28] hjohn commented on #365
Thanks for that suggestion, integrated with some minor changes: https://github.com/hjohn/hs.ddif/commit/6495453c8d726b26b8e063fa11fd582d5d598958

[2021-11-05 10:28] #365 closed

[2021-11-10 10:30] dginelli opened #368 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-13 12:39] saberya opened #369 "How can i add a right url which contain some class files that need to be scanned with this tool?"
now i need to scan some classes which are not under the classpath(eg. XXX/target/BOOT-INF/),
when i execute:
[code]
in "/home/admin/myapp/target/BOOT-INF/personal/", there are some jar packages, like "/home/admin/myapp/target/BOOT-INF/personal/my.jar, /home/admin/myapp/target/BOOT-INF/personal/my2.jar";
but all the classes in this two jars are not be perceived.

so ,what i want to do is just to ad

[2021-11-17 09:14] VinWin99 commented on #339
I can try to work on this. I see it is tagged as a good first issue so I will take a look

[2021-11-24 07:35] zetti12345 commented on #313
Hi, I have the problem with Java 17 `reflect.getTypesAnnotatedWith(..)` don't give me any result anymore. Can you please tell me how Reflections work with Java modules?
Thanks

[2021-11-26 03:59] DeegC commented on #80
I had this same problem.  What solved my problem was changing my config from using `ClasspathHelper.forClassLoader()` to `ClasspathHelper.forJavaClassPath()`, so:

[code]

[2021-11-26 14:46] kwin commented on #251
I think this was fixed meanwhile in v0.10 as no exception seem to be swallowed in https://github.com/ronmamo/reflections/blob/1f05c178131b252b787e0c89f43feab3b370295b/src/main/java/org/reflections/util/NameHelper.java#L64 and https://github.com/ronmamo/reflections/blob/1f05c178131b252b787e0c89f43feab3b370295b/src/main/java/org/reflections/util/ClasspathHelper.java#L150 (except for MalformedUrlExce

[2021-11-27 08:03] castleKing1997 commented on #307
The classFile read from non-anonymous class (like class in org.reflections.TestModel) has an attribute named AnnotationsAttribute, which saves the information of annotations of this class. but neither to anonymous class.
Any idea about this?

[2021-11-27 09:12] castleKing1997 commented on #307
@ronmamo I give a test about this in #370 .
Please have a review and run it.

[2021-11-30 01:57] #369 closed

[2021-12-15 06:47] Bairei opened #373 "Reflections does not detect any classes, if base class (or package prefix) is passed as argument, and application is ran as a jar [0.10.2]"
Given the application built using Spring Boot framework, interface `DeviceCode`, residing inside the `some.package`  package, and enum classes `some.package.a.A`, `some.package.b.B`, `some.package.c.C`, each implementing the `DeviceCode`: and code:

[code]

### Expected behaviour:
After migrating from 0.9.12, `reflections` should detect all the classes implementing `DeviceCode` interface, in this

[2021-12-15 08:52] xutengx opened #374 "Different behaviors under different jdks (8, 16)，0.10.2"
My goal is to scan classes under all paths.
same code
[code]
In jdk 8,  All classes were scanned；
In jdk 16,  None classes were scanned；

After looking at the code, it should be that the results of `Thread.currentThread().getContextClassLoader()` of different SDKs are inconsistent.
In jdk 8,  classLoader instanceof URLClassLoader == true
In jdk 16,  classLoader instanceof URLClassLoader == false
[

[2021-12-17 00:47] Gopro336 commented on #336
getting this same issue on 0.10.2

[2021-12-17 00:50] Gopro336 commented on #336
and 0.10.1

[2021-12-19 18:50] olewehrmeyer commented on #373
Can confirm, had the exact same issue. Worked when started "outside" of a JAR, failed when inside when using `new Reflections("my.pkg.name.here")`.

The provided workaround worked like a charm, thanks a lot!

[2021-12-24 07:49] wuqifeng commented on #373
same issue too

[2021-12-26 12:47] fengertao opened #377 "Relections 0.10.2 compatible issue in Ubuntu OpenJDK 17.0.1"
Current my code running well in Win64 Oracle JDK17.0.1, while do not work on Ubuntu OpenJDK17.0.1

**Env Detail:**
**OS:** ubuntu 21.04
**Jre:** openjdk-17-jre/hirsute-updates,hirsute-security,now 17.0.1+12-1~21.04
**reflections version**  0.10.2
**javassist version:** 3.28.0-GA
**Source code:** https://github.com/fengertao/SudokuMasterServ/blob/master/src/main/java/charlie/feng/game/sudokumasters

[2021-12-28 17:54] yelkhatib commented on #336
same issue on 0.11

[2021-12-31 07:55] Bairei commented on #377
Hey, have you tried applying a workaround from https://github.com/ronmamo/reflections/issues/373 in the meantime?

[code]

[2022-01-06 12:11] zshnb opened #378 "Reflections 0.10 doesn't respect constructor's package parameter"
[code]
but some class in package yyy with ApiModel annotation also be scanned, how to fix this problem?

[2022-01-16 00:47] tkn777 commented on #373
Same problem here.

[2022-01-18 05:22] JiaYingLii commented on #373
same problem, and we use `java -jar` command online....

[2022-01-18 08:44] LinWanCen opened #382 "memberUsage include method implements and extend override"
For find the complete usage chain.

[2022-01-18 22:14] GriffinCodes commented on #373
Same problem here as well, only the provided workaround does not fix it for us
![image](https://user-images.githubusercontent.com/12417961/150027180-12ceb28a-cf8d-43e3-864b-ba84804c5265.png)

[2022-01-19 03:41] LinWanCen opened #383 "memberUsage include @Annotaion usage"
For find the full usage chain.

[2022-02-01 02:01] hkawa608 opened #384 "why was the null check removed?"
In the following 0.10 refactor PR, why is the null check of params missing? This causes a NullPointerException when updating, and I'm having trouble with it.

https://github.com/ronmamo/reflections/pull/335/files#diff-93d2427a55bf75511b7421e8e9f7e36a80408a387ce21e9d9ad24046e5ae6080L79-L87

[2022-02-04 14:24] anton-erofeev opened #385 "reflections.getSubTypesOf(Object.class) returns empty list"
[code]
this code returns an empty set, but i expect it to return a set of all classes
version: 0.9.12

[2022-02-10 21:32] beabravedude opened #386 "Disable SLF4J logger"
I am using log4j in my application and don't need logs from reflection, how do I disable the reflections logger?

[2022-02-14 23:34] clayreimann commented on #386
Have you tried configuring your logger? https://github.com/ronmamo/reflections/discussions/350#discussioncomment-2177040

[2022-02-22 05:14] MAX-POLKOVNIK commented on #385
Same problem

[2022-02-26 13:06] twasink opened #390 "Access denied when using a security manager"
When using 0.10.x, and running with a security manager, trying to use `new Reflections(scanPrefix)` results in an AccessControlException, like this one:

[code]

This happens even with a policy file that grants all permissions.

It works fine with 0.9.11

Arguments to the JVM: `-Djava.security.manager=default -Djava.security.policy=all_perms.policy
`

Example policy file: [all_perms.policy.txt](ht

[2022-02-26 13:53] twasink commented on #390
I can reproduce the problem in a unit test, but that test is a bit much to drop in here. I'll try and create a standalone project that reproduces the problem.

[2022-03-21 21:58] pgalbraith commented on #385
Same here, my expectation is that `new Reflections("java.util").getSubTypesOf(Object.class)` should not return an empty set, but it does.  What am I missing?

[2022-03-25 11:03] jaylawl commented on #385
Same here, tried `System.out.println(new Reflections("java.util").getSubTypesOf(Object.class));`

returns empty list.

Can't really get anything to work to be frank. im using 0.10.2

[2022-03-25 11:52] jaylawl commented on #385
Ive been at this for about 2 hours now and ive downgraded to 0.9.9.

Still no results, never - irregardless of input.

Even examples from https://www.baeldung.com/reflections-library do not work, everything is always an empty list

[2022-03-26 15:27] pgalbraith commented on #385
I did finally have some success, the problem with doing basic testing looking for "Object" is that reflections filters "Object" out by default.  As a basic starting point I had more success looking for "Scanner" in org.reflections, and that got me started.  Some more basic examples on the main page would be nice to get people started, but I hesitate to be overly critical of anything where someone

[2022-03-30 21:42] xtermi2 opened #391 "Question: Migration 0.9.x to 0.10.x Resource scanner"
Hi,

I currently can't manage to migrate my `0.9.x` code to `0.10.x`:
[code]
I tried a lot different options in `0.10.x` but nothing worked like in `0.9.x` and creating a regexp `pattern` matching my `isValidFilename` logic would be really complex. Isn't there any option to do something like `reflections.getResources(<predicate>)` which was possible in `0.9.x`?

Thanks for your help

[2022-04-04 11:30] rulle-io opened #392 "Binary uncompatible changes in FilterBuilder class"
We have a code piece like ```(new FilterBuilder().includePackage("XXX"))```.

It suddenly started to fail at runtime (after upgrade org.reflections:reflections:jar:0.9.12 => 0.10.2)
[code]
It turned out that public interface in `FilterBuilder` was changed [here](https://github.com/ronmamo/reflections/pull/335):
[code]

-- Old one
https://github.com/ronmamo/reflections/blob/7741e8f5d13f739d644ef5e9

[2022-04-07 08:48] HenningL opened #393 "Threadpool for scanning gets stuck in case one of the url is incorrect"
Given a list of urls to scan with a threadpoolexecutor and one of the url is incorrect:

`Caused by: org.reflections.ReflectionsException: could not create Vfs.Dir from url, no matching UrlType was found [file: .../$%7Bmaven.dependency.classpath%7D]
either use fromURL(final URL url, final List<UrlType> urlTypes) or use the static setDefaultURLTypes(final List<UrlType> urlTypes) or addDefaultURLTyp

[2022-04-07 08:57] HenningL commented on #386
logback.xml
`<logger name="org.reflections" level="OFF" />`

[2022-04-08 07:52] dmedinag commented on #378
I'm also experiencing this issue.
[code]

with the code above, `scannedMethods` yields results not only from `x.y.z` and `x.y.x` packages, but from all the classpath.

[2022-04-12 11:25] bluelu commented on #374
I have the same issue

[2022-04-12 12:57] BeshEater commented on #373
Yep same problem. @Bairei thank you for the workaround - it works flawlessly.

[2022-04-13 12:56] DataProvided opened #394 "dependency scope setting issues"
Hi,

We are developing a tool to check whether the dependencies' scopes in maven are set rightly and reasonably.

Our tools have found some issues in your project about scope setting in maven' pom.xml file.

- in `pom.xml`, `org.jboss:jboss-vfs` scope should be `compile`  instead of `provided`.

Please help us confirm whether the above reports are right and explain why it should set like these.

T

[2022-04-19 08:56] HenningL commented on #394
Are you requesting help for your issues here to understand maven better?
` <dependency>
            <groupId>org.jboss</groupId>
            <artifactId>jboss-vfs</artifactId>
            <version>3.2.15.Final</version>
            <scope>provided</scope>
            <optional>true</optional>
        </dependency>`

There is even a comment on it. There are some dependencies you might need in a spe

[2022-04-26 11:41] kesslerd opened #395 "Different Behaviour with Java 17.0.3-17.34.19"
We wanted to upgrade our Project to Java Zulu 17.0.3-17.34.19 and run into the issue that org.reflections does not find the same classes anymore. The below issue happens with 0.9.11 and 0.10.2. I did not test other versions.

With the newer Java_Version we noticed a different behaviour in `org.reflections.vfs.JbossDir#createDir` for vfs-jar urls.

The call ` VirtualFile virtualFile = (VirtualFile)

[2022-04-28 17:20] mistriel commented on #373
Same here, using maven process plugin to start services during integration test phase.

[2022-05-04 05:07] kesslerd commented on #395
I could also reproduce this behaviour with the OpenJDK.

[2022-05-16 19:58] vlborkunov commented on #373
i found another solution workaround:

[code]

[2022-05-26 14:04] jcputney commented on #395
We're running into this issue as well when trying to upgrade to Azul Zulu 17.0.3

Anyway we can get a patch release out for this PR?

[2022-05-27 08:53] sureshkumarchoudhary commented on #279
downgraded to 0.9.11 and worked for me. issue was only when i was running as docker container.

[2022-06-10 07:14] gyf1997 opened #400 "something about org.reflections.util.ConfigurationBuilder#setInputsFilter"
here is my maven dependency:

<dependency>
     <groupId>org.reflections</groupId>
     <artifactId>reflections</artifactId>
     <version>0.10.2</version>
</dependency>

here is my code:

ConfigurationBuilder cfg = ConfigurationBuilder.build(packages, Scanners.MethodsAnnotated);
Reflections reflections = new Reflections(cfg);
Set<Method> methods = reflections.getMethodsAnnotatedWith(MyAnnotation.

[2022-06-17 16:01] veselov opened #401 "0.10.2 ConfigurationBuilder.build() doesn't accept parameters correctly"
ConfigurationBuilder.java:

Input parameters are in `params`
Lines 71-76 - a new list `parameters` is created, where the normalized parameters are supposed to go, anything iterable or any arrays in `params` are expanded as individual items into `parameters`, everything else is copied as is.

Then, lines 78-79, all class loaders found in `params` are added with `addClassLoaders()` to the builder. W

[2022-06-30 14:42] jacobg commented on #391
I'm having the same issue.

In 0.9.11, the following call would find all resource files:
[code]

Now in 0.10.2, it doesn't find anything.

What should the new code look like?

When extracting the jar to examine its contents, the path indicated by the `resourcesPrefix` variable above is relative to the root directory of the jar.

[2022-07-01 07:10] asgarov1 commented on #373
In our case the workaround:

[code]

"fixes" running from commandline but breaks running from IDE (tried with both Intellij and Eclipse) - I get error:

[code]

[2022-07-01 16:06] zjn-zjn commented on #400
I have this problem too

[2022-07-28 14:42] Philipp-Borchert-ISH commented on #395
btw. it seems that this is also tracked on the "other" side in redhat Jira for jboss-vfs: https://issues.redhat.com/browse/WFLY-16322

[2022-07-29 10:03] snoweuph opened #405 "SLF4J Implementation seemes Brocken"
Im running Version 0.10.2 of this Package with Gradle 7.4

when using getSubTypesOf I get A Message in the COnsole Saying:

[code]

what should I do? I myself dont use SLF4J and this Message only pops up when using this Lib

[2022-08-01 15:00] mpscholz commented on #401
Same issue here: In case one uses a classloader parameter in the build() method of the ConfigurationBuilder, a ReflectionException is thrown:

` ConfigurationBuilder.build("my.package", this.getClass.getClassLoader())`

will throw
_org.reflections.ReflectionsException: could not use param <path of classloader>_

This is due to the fact, that the implementation of the `ConfigurationBuilder.build()

[2022-08-02 18:17] ghevge opened #411 "reflections doesn't return the list of classes annotated with RequestMapping"
I'm trying to use reflections 0.10.2 in an open JDK 17 spring boot project to get the list of controller classes, but for the reasons I always get an empty list of classes.

This is how my code looks like:

[code]

A controller class looks like this:

[code]

All my controllers are under com.kp.mw.controllers  and are annotated with @RequestMapping.

Any idea what is wrong here?

Thanks

[2022-08-04 22:31] BrunnoFdc commented on #411
Instead of using `SubTypes.of()`, try using just `reflections.get(TypesAnnotated.with(RequestMapping.class).asClass());` instead.

I was having a similar issue, where Reflections wasn't able to find classes when running from docker. Using the following snippet, I was able to fix this, hope it helps:
[code]

[2022-08-05 11:58] ghevge commented on #411
Thanks for the reply! I'm running in a container too. Anyhow, in the end I've decided to ditch the use of the Reflections library as it seems is not proactively maintained. Even the latest version being flagged as having some security issues.

I've manage to get the same result with spring functionality.

[2022-08-05 12:29] LiiMooTBM opened #412 "code works in 1.8 in prod and dev enviroment and in 11 only in dev enviroment"
hello,
I have this code. I use it in the play framework in scala, the code works fine in dev mode. But when I use production mode it does not find the classes it found in dev mode. I then decided to downgrade my Java from 11.0.14 to 1.8 and suddenly the code works in both modes. But unfortunately I can't use My Projects in 1.8 because I need compatibility with Java 11 for some other dependencies.

[2022-08-05 20:09] BrunnoFdc commented on #411
=

Amazing! Could I ask you to provide an example of how you did it? Just to serve as a source if someone comes across a similar problem in the future :)

[2022-08-05 20:18] ghevge commented on #411
This is what I've done:

[code]

[2022-08-18 05:21] WoPal opened #427 "ClassCastException in JbossDir.java with Java 11.0.16+8"
After update to java 11.0.16+8 the code in jBossDir.java#createDir() throws a ClassCastException.

`java.lang.ClassCastException: class org.jboss.vfs.VirtualJarInputStream cannot be cast to class org.jboss.vfs.VirtualFile`

![image](https://user-images.githubusercontent.com/11028990/185299863-5c1e74d5-99a4-4ff1-bc5b-f4917f831cdb.png)

[2022-08-18 11:08] anders4work opened #428 "Get all classes whose simple name match some regex"
Hi!

I am trying to use your library to scan the classpath for all those java classes whose simple name match some regex.
However, it seems one needs to choose a Scanner and I can't find any scanner that match that requirement.

The closest I could find is this code, which doesn't find all classes since the scanner seems to find subclasses of types matching the regex:

Reflections reflections = ne

[2022-08-22 03:36] dbaldes opened #429 "ClassCastException when running on Wildfly and Java 17"
I get the following exception when running org.reflections 0.10.2 on Widlfly 26.1.1 and Java 17:

[code]

Apparently, url.openConnection().getContent() returns a VirtualJarInputStream on Java 17 instead of the expected VirtualFile.

[2022-08-22 07:24] dbaldes commented on #429
This seems to be a duplicate of https://github.com/ronmamo/reflections/issues/427

[2022-08-22 07:49] dbaldes commented on #429
This seems to be caused by: https://issues.redhat.com/browse/WFLY-16322
And is fixed in jboss-vfs v.3,2,17.Final

[2022-08-22 07:49] #429 closed

[2022-09-14 08:38] jimka2001 commented on #324
@ronmamo, can you comment a bit more about what I need to do as a Scala programmer.  I tried what you recommended (at least as best I can understand what you recommended).

[code]
But this gives a compilation error.
[code]

[2022-09-14 08:38] potatoxf commented on #324
这是来自QQ邮箱的自动回复邮件。
 
您好，我已经收到您的邮件

[2022-10-03 19:04] xtermi2 commented on #391
Nobody any hint or suggestion how to do this?

[2022-10-18 20:14] vadeg commented on #279
I have checked different versions of Spring and I can confirm what @bmaehr already mentioned. The library throws this exception when it is used with `spring-boot` of version `2.3.5` or earlier. Switching to `2.3.6` solves the issue.
With the latest `spring-boot` version `2.7.4` it also works.

[2022-10-19 09:14] YuryMikhailuts opened #439 "How to exclude some modules from the search."
When searching, I get this error:

[code]
Using a filter doesn't help:
[code]

How do I exclude the entire module `bcprov-jdk15on-1.60.jar` from the search?

[2022-10-24 15:11] tlf30 commented on #186
Has there been any progress on this? It would be great to support module based applications.

[2022-10-24 17:45] lukehutch commented on #186
@tlf30 the module scanning method I posted above is included in the ClassGraph class path scanning library.

https://github.com/classgraph/classgraph

I posted the method here in case the Reflections author wanted to add it to Reflections, but that hasn't happened, so I wouldn't hold my breath!

[2022-11-02 06:41] cech12 opened #440 "[0.10.2] Reflections do not detect classes with Java 11.0.16"

[2022-11-10 09:01] cech12 commented on #440
So, it has something to do with this issue? https://github.com/ronmamo/reflections/issues/395

Then, a commit was made https://github.com/ronmamo/reflections/commit/7ccde6e7b6d8cc2e3f8fea4d7d3b3d2677214be2 and a merge is planned for 0.10.3.

[2022-11-10 09:27] slovi commented on #440
Yes, It seems that commit 7ccde6e7b6d8cc2e3f8fea4d7d3b3d2677214be2 will fix also this issue.

[2022-11-10 13:42] cech12 commented on #440
@slovi Your workaround works for me! Thanks for that! :)
I hope, the 0.10.3 version will be released soon to remove that hack^^

[2022-11-15 14:22] higorn commented on #427
I'm having the same issue.

[2022-11-18 07:21] czpilar opened #441 "Avoid using HashSet with java.net.URL - causing significant slowdown"
`ConfigurationBuilder` class uses `HashSet` with `java.net.URL` which causes significant application slowdown.

[code]

According to https://rules.sonarsource.com/java/RSPEC-2112

The `equals` and `hashCode` methods of `java.net.URL` both may trigger a name service (usually DNS) lookup to resolve the host name or IP address. Depending on the configuration, and network status, that can take a long

[2022-11-23 08:52] jusescn opened #442 "Do not support users.stream().filter(User::isCool).collect(Collectors.toList()) when use reflections.getMemberUsage(method)"
biz code:
 public String buildWord(){
        List<User> users = new ArrayList<User>();
       List<String> names = users.stream()
                                 //.filter(e -> e.isCool() &&e.getName().equals(""))
                                .filter(User::isCool)
                                 .map(User::getName)
                                 .collect(Collectors.toList());
        retur

[2022-11-23 11:50] jusescn commented on #442
I find a jar to fix . a goog jar to fix stream ;
        <dependency>
            <groupId>com.sebastian-daschner</groupId>
            <artifactId>jaxrs-analyzer</artifactId>
            <version>0.9</version>
        </dependency>

core code to fix this bug;
https://1maven.com/classname/com.sebastian-daschner:jaxrs-analyzer:0.9/com.sebastian_daschner.jaxrs_analyzer.analysis.bytecode.collection/I